<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackgaryc.library.mapper.BookMapper">

    <resultMap id="BaseResultMap" type="com.blackgaryc.library.entity.BookEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="language" column="language" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="thumbnail" column="thumbnail" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createdUid" column="created_uid" jdbcType="BIGINT"/>
            <result property="publisherId" column="publisher_id" jdbcType="INTEGER"/>
            <result property="isbn10" column="isbn10" jdbcType="VARCHAR"/>
            <result property="isbn13" column="isbn13" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,author,
        description,language,category_id,
        thumbnail,status,created_uid,
        publisher_id,isbn10,isbn13,
        create_time
    </sql>
</mapper>
