<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackgaryc.library.mapper.FileMapper">

    <resultMap id="BaseResultMap" type="com.blackgaryc.library.entity.FileEntity">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="filename" column="filename" jdbcType="VARCHAR"/>
            <result property="extension" column="extension" jdbcType="VARCHAR"/>
            <result property="mimetype" column="mimetype" jdbcType="VARCHAR"/>
            <result property="object" column="object" jdbcType="VARCHAR"/>
            <result property="md5" column="md5" jdbcType="VARCHAR"/>
            <result property="uid" column="uid" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,filename,extension,
        mimetype,object,md5,
        uid
    </sql>
    <select id="findByMd5AndObject" resultType="com.blackgaryc.library.entity.FileEntity">
        select <include refid="Base_Column_List" /> FROM file where md5=#{md5} and object=#{object}
    </select>
    <select id="existByMd5" resultType="java.lang.Boolean">
        SELECT EXISTS(select 1 from file where md5=#{md5} limit 1)
    </select>
</mapper>
