<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackgaryc.library.mapper.LogFileUploadMapper">

    <resultMap id="BaseResultMap" type="com.blackgaryc.library.entity.LogFileUploadEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="filename" column="filename" jdbcType="VARCHAR"/>
            <result property="md5" column="md5" jdbcType="VARCHAR"/>
            <result property="object" column="object" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="uid" column="uid" jdbcType="VARCHAR"/>
            <result property="uploadTime" column="upload_time" jdbcType="TIMESTAMP"/>
            <result property="bookId" column="book_id" jdbcType="BIGINT"/>
            <result property="fileId" column="file_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,filename,md5,
        object,status,message,
        uid,upload_time,book_id,
        file_id
    </sql>
</mapper>
