<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackgaryc.library.mapper.PublisherMapper">

    <resultMap id="BaseResultMap" type="com.blackgaryc.library.entity.PublisherEntity">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="isbnCode" column="isbn_code" jdbcType="VARCHAR"/>
            <result property="isbnPublisher" column="isbn_publisher" jdbcType="VARCHAR"/>
            <result property="chinaUnionPublisherId" column="china_union_publisher_id" jdbcType="VARCHAR"/>
            <result property="comments" column="comments" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,city,
        type,isbn_code,isbn_publisher,
        china_union_publisher_id,comments
    </sql>
    <select id="getSelectData" resultType="com.blackgaryc.library.domain.admin.publisher.PublisherSelectVo">
        select id as value , name as label from basics_publisher
    </select>
    <select id="getPageData" resultType="com.blackgaryc.library.domain.admin.publisher.PublisherVo">
        select <include refid="Base_Column_List"></include> from basics_publisher
    </select>
</mapper>
