<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackgaryc.library.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.blackgaryc.library.entity.UserEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,email,password,nickname,account,avatar
    </sql>
    <select id="existUserByAccount" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1 FROM user WHERE account=#{account} limit 1)
    </select>
    <select id="selectByAccount" resultType="com.blackgaryc.library.entity.UserEntity">
        SELECT <include refid="Base_Column_List"></include>
        FROM user WHERE account=#{account} limit 1
    </select>
</mapper>
